head

	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
	link(rel="stylesheet" href="style.css")

body.me

	h1.text-center About Me

	p.about-me.text-center If you had asked me in college what language I'd be writing in ten years from then, I'd have been more inclined to tell you German or Mandarin rather Javscript or PHP. For almost my entire academic career, I was more interested in human languages than those that communicate with the inorganic. In fact, I would graduate from the University of Michigan in 2014 not with an EECS degree, but with one in German Studies and a minor in Asian Langauges and Cultures. It was this interest that brought me to work with high school exchange students in New York and, later, Phoenix.

	p.about-me.text-center The job was multifaceted: finding host families, planning events, interviewing perspective students, etc. People always asked me how I was able to communicate with students from all over the globe at some many different level of English. What they didn't understand was that communicating with was the easy part; it was communicating to them that was the hard part. What I mean by this is that making sure they understood me was simple when they were in front of me, but when I had to communicate with a group of over 160 students at once on a daily basis, needless to say many missed my meaning.