html
    head
        include head.pug
    body
        // include nav.pug
        div.parallex
            div.logo Mike Short 
                br
                | Coding Solutions
        section.about-me
            h2 What I Do
            h4 Hey, I'm Mike
            p I'm a Full Stack Developer building applications, websites and more.
            p I have a passion for stylish design, quality code, and innovative solutions.
            p My clients have included full stack applications, single page sites, and everything in between.
            p Looking for someone who can deliver fast, expectional software for your business? Contact me! 
        
