head
	meta(charset="UTF-8")
	title Mike Short
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="icon" href="mike-short.png")
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
	link(rel="stylesheet" href="style.css")
    link(href="https://fonts.googleapis.com/css?family=VT323|Candal|GFS+Didot|Tangerine" rel="stylesheet")

body
    div.header-logo.text-center#header
		h3#logo
		h2
			div.header-values#reliability Reliability
            div.header-values#style Style
            div.header-values#innovation ιηησνατιση
			img.header-photo(src="zion.jpg" alt="Zion")
    div.about-feed#about
		div.about-article
		    div.about-text
				h3.about-header Hey! I'm Mike, a Full Stack Developer with over 3 years experience in web development
				p My journey to becoming a software developer is definitely not a conventional one. After graduating with a degree in Germanic Studies, I began working with international students. Finding that the school's software was often geared toward native speakers, I learn Javascript and develop applications that would help them more intuitively navigate life at the school, such as picking classes or getting involved in activities.
				p From the moment I printed my first 'Hello World', I knewthat this would become my full-time career. I left my position at the high school and started my own free-lance development company. Now I work with clients, either one-on-one or as part of team, turning their visions and dreams into realities.
				p There are two main things you can expect from me when I agree to work with you: reliability and innovation. Your goals are important to me, and I will always deliver on the deadlines that we set, if not sooner. Your visions and ideas are also unique and shouldn't be approach with a cookie-cutter mentality. While I'm not going to reinvent the wheel, who wouldn't want to fly a hoverboard?
				p But enough about me! I'd love to hear about you! What are you working on? What do you want to create? What's you story? Contact me on
				a(href="https://www.linkedin.com/in/michael-short-77389190" target="_blank" rel="noopener noreferrer") LinkedIn
				span or 
				a(href="https://github.com/mikeshort10" target="_blank" rel="noopener noreferrer") GitHub
				span and let's start the conversation!
    div.text-center.project-header#projects
		h2 Recent Projects
		div.projects-container
    div.skills-container#skills
		h2.text-center.skills-header
