html
	head
		include head.pug
		link(rel="stylesheet" href="/css/home.css")
	body
		nav.navbar
			div.nav-brand
				a(href="/")
					img(src="/mike-short.png")
		div.parallex

		h2 Hey I'm Mike!
		p I'm a Full Stack Web Developer who is dedicated 

		p.text-center I started coding as professional development. I worked with international students and found myself needing resources for them that weren't readily available or were outside the budget of our program. However, about a month into the
			a(href="www.freecodecamp.org" target="_blank]") FreeCodeCamp 
			| curriculum, I found myself working until 2-3am every night to develop projects. I had to turn to myself and ask, "Why am I treating this like a side gig?"
		p.text-center Since then I've worked as a freelancer, helping others make their dreams and ideas a reality. I've also been certified as a Full Stack Developer and have gone from making stop-gap products to fully functioning applications. What has not changed, however, is that I still design my sites for English language learners. What this means is that I rely less on written instruction than on the flow and simplicity of the user experience.

		p.text-center Both in and outside of my coding career, I have frequently been decribed by those I work with as hard-working and innovative. As one former employer said "Mike will never come to you with a problem that he's discovered, without having at least one viable solution for fixing it". This is the effort that I will bring to your project. Have a deadline? I'll meet it. Having issues? I'll help solve them. 

		p.text-center I'd love to hear from you! Submit a contact request and we can start talking about what you need!

