head
	include head.pug
	link(rel="stylesheet" href="style.css")

body
	nav.navbar.navbar-expand-md.bg-dark.fixed-top
		img.navbar-brand(src="mike-short.png" width="30px")
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
			span.fas.fa-bars
		div.collapse.navbar-collapse#navbarNavAltMarkup
			div.navbar-nav
				li.nav-item.dropdown
					a.nav-link(href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						i.fab.fa-react(style="font-weight: bold;")
						span &nbspSkills
					div.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
						h6.dropdown-header.disabled Front-end Scripting
						a(href="#").dropdown-item.disabled Javascript
						a(href="#").dropdown-item.disabled React
						a(href="#").dropdown-item.disabled Redux
						a(href="#").dropdown-item.disabled jQuery
						a(href="#").dropdown-item.disabled D3
						a(href="#").dropdown-item.disabled Angular.js
						h6.dropdown-header Markup and Styling
						a(href="#").dropdown-item.disabled HTML
						a(href="#").dropdown-item.disabled CSS
						a(href="#").dropdown-item.disabled Markdown
						a(href="#").dropdown-item.disabled Pug
						a(href="#").dropdown-item.disabled Bootstrap 3 & 4
						h6.dropdown-header Backend Programming
						a(href="#").dropdown-item.disabled Node.js
						a(href="#").dropdown-item.disabled MongoDB & Mongoose
						a(href="#").dropdown-item.disabled SQL
						a(href="#").dropdown-item.disabled PHP
						a(href="#").dropdown-item.disabled Testing & QA
				li.nav-item.dropdown
					a.nav-link(href="#" id="certs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						i.fas.fa-award
						| &nbspQualifications
					div.dropdown-menu(aria-labelledby="certs")
						h6.dropdown-header FreeCodeCamp
						a(href="https://www.freecodecamp.org/certification/mikeshort10/full-stack").dropdown-item Full Stack
						a(href="https://www.freecodecamp.org/certification/mikeshort10/responsive-web-design").dropdown-item Responsive Web Design
						a(href="https://www.freecodecamp.org/certification/mikeshort10/javascript-algorithms-and-data-structures").dropdown-item JS Algorithms and Data Structures
						a(href="https://www.freecodecamp.org/certification/mikeshort10/front-end-libraries").dropdown-item Front End Libraries
						a(href="https://www.freecodecamp.org/certification/mikeshort10/data-visualization").dropdown-item Data Visualization
						a(href="https://www.freecodecamp.org/certification/mikeshort10/apis-and-microservices").dropdown-item APIs and Microservices
						a(href="https://www.freecodecamp.org/certification/mikeshort10/information-security-and-quality-assurance").dropdown-item Information Security and QA
						h6.dropdown-header Sololearn
						a(href="https://www.sololearn.com/Certificate/1059-2919594/pdf/").dropdown-item PHP
						a(href="https://www.sololearn.com/Certificate/1060-2919594/pdf/").dropdown-item SQL Fundamentals
				a(href="#aboutme").nav-item.nav-link 
					i.far.fa-user-circle
					| &nbspAbout
				a(href="#projects").nav-item.nav-link 
					i.fas.fa-laptop-code
					| &nbspProjects
				li.nav-item.dropdown
					a.nav-link(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						i.far.fa-envelope 
						| &nbspContact
					div.dropdown-menu
						a(href="https://codepen.io/mikeshort10/" target="_blank").dropdown-item
							i.fab.fa-codepen
						a(href="https://github.com/mikeshort10" target="_blank").dropdown-item
							i.fab.fa-github
						a(href="https://www.linkedin.com/in/michael-short-77389190/" target="_blank").dropdown-item
							i.fab.fa-linkedin
						a(href="https://www.freecodecamp.org/mikeshort10" target="_blank").dropdown-item
							i.fab.fa-free-code-camp
						a(href="https://www.facebook.com/mikeshort10" target="_blank").dropdown-item
							i.fab.fa-facebook
	//static navbar as placeholder for fixed navbar
	nav.navbar.navbar-expand-md.bg-dark
		img.navbar-brand(src="mike-short.png" width="30px")
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
			span.fas.fa-bars
		div.collapse.navbar-collapse#navbarNavAltMarkup
			div.navbar-nav
				li.nav-item.dropdown
					a.nav-link(href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						i.fab.fa-react(style="font-weight: bold;")
						span &nbspSkills
					div.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
						h6.dropdown-header.disabled Front-end Scripting
						a(href="#").dropdown-item.disabled Javascript
						a(href="#").dropdown-item.disabled React
						a(href="#").dropdown-item.disabled Redux
						a(href="#").dropdown-item.disabled jQuery
						a(href="#").dropdown-item.disabled D3
						a(href="#").dropdown-item.disabled Angular.js
						h6.dropdown-header Markup and Styling
						a(href="#").dropdown-item.disabled HTML
						a(href="#").dropdown-item.disabled CSS
						a(href="#").dropdown-item.disabled Markdown
						a(href="#").dropdown-item.disabled Pug
						a(href="#").dropdown-item.disabled Bootstrap 3 & 4
						h6.dropdown-header Backend Programming
						a(href="#").dropdown-item.disabled Node.js
						a(href="#").dropdown-item.disabled MongoDB & Mongoose
						a(href="#").dropdown-item.disabled SQL
						a(href="#").dropdown-item.disabled PHP
						a(href="#").dropdown-item.disabled Testing & QA
				li.nav-item.dropdown
					a.nav-link(href="#" id="certs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						i.fas.fa-award
						| &nbspQualifications
					div.dropdown-menu(aria-labelledby="certs")
						h6.dropdown-header FreeCodeCamp
						a(href="https://www.freecodecamp.org/certification/mikeshort10/full-stack").dropdown-item Full Stack
						a(href="https://www.freecodecamp.org/certification/mikeshort10/responsive-web-design").dropdown-item Responsive Web Design
						a(href="https://www.freecodecamp.org/certification/mikeshort10/javascript-algorithms-and-data-structures").dropdown-item JS Algorithms and Data Structures
						a(href="https://www.freecodecamp.org/certification/mikeshort10/front-end-libraries").dropdown-item Front End Libraries
						a(href="https://www.freecodecamp.org/certification/mikeshort10/data-visualization").dropdown-item Data Visualization
						a(href="https://www.freecodecamp.org/certification/mikeshort10/apis-and-microservices").dropdown-item APIs and Microservices
						a(href="https://www.freecodecamp.org/certification/mikeshort10/information-security-and-quality-assurance").dropdown-item Information Security and QA
						h6.dropdown-header Sololearn
						a(href="https://www.sololearn.com/Certificate/1059-2919594/pdf/").dropdown-item PHP
						a(href="https://www.sololearn.com/Certificate/1060-2919594/pdf/").dropdown-item SQL Fundamentals
				a(href="#aboutme").nav-item.nav-link 
					i.far.fa-user-circle
					| &nbspAbout
				a(href="#projects").nav-item.nav-link 
					i.fas.fa-laptop-code
					| &nbspProjects
				li.nav-item.dropdown
					a.nav-link(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						i.far.fa-envelope 
						| &nbspContact
					div.dropdown-menu
						a(href="https://codepen.io/mikeshort10/" target="_blank").dropdown-item
							i.fab.fa-codepen
						a(href="https://github.com/mikeshort10" target="_blank").dropdown-item
							i.fab.fa-github
						a(href="https://www.linkedin.com/in/michael-short-77389190/" target="_blank").dropdown-item
							i.fab.fa-linkedin
						a(href="https://www.freecodecamp.org/mikeshort10" target="_blank").dropdown-item
							i.fab.fa-free-code-camp
						a(href="https://www.facebook.com/mikeshort10" target="_blank").dropdown-item
							i.fab.fa-facebook
	section
	div.container-fluid#intro
		div.col-md-6.text-center.animated-text#animated-text1 Reliability
		div.col-md-6.text-center.animated-text#animated-text2 Innovation
		div.col-md-6.text-center.animated-text#animated-text3 Style

	section.d-flex.justify-content-between#aboutme
			div.card.bg-dark
				div.card-title.text-center.text-dark.m-0.mb-0
					h1.pt-2#header Hi, I'm Mike Short, Full Stack Developer
				div.card-body.d-flex.align-items-center.justify-content-center.row
					img.col-sm-8.col-lg-4#about-img(src="aboutme.jpg")
					div.col-lg-8#about-text
						p.text-center I started coding as professional development. I worked with international students and found myself needing resources for them that weren't readily available or were outside the budget of our program. However, about a month into the 
							a(href="www.freecodecamp.org" target="_blank]") FreeCodeCamp 
							| curriculum, I found myself working until 2-3am every night to develop projects. I had to turn to myself and ask, "Why am I treating this like a side gig?"

						p.text-center Since then I've worked as a freelancer, helping others make their dreams and ideas a reality. I've also been certified as a Full Stack Developer and have gone from making stop-gap products to fully functioning applications. What has not changed, however, is that I still design my sites for English language learners. What this means is that I rely less on written instruction than on the flow and simplicity of the user experience.

						p.text-center Both in and outside of my coding career, I have frequently been decribed by those I work with as hard-working and innovative. As one former employer said "Mike will never come to you with a problem that he's discovered, without having at least one viable solution for fixing it". This is the effort that I will bring to your project. Have a deadline? I'll meet it. Having issues? I'll help solve them. 

						p.text-center I'd love to hear from you! Submit a contact request and we can start talking about what you need!

	section.p-4.bg-dark#projects
		h2.text-center Recent Projects
		br
		div.carousel.slide#project-slide(data-ride="carousel")
			ol.carousel-indicators
				li.active(data-target="#project-slide" data-slide-to="0")
				li(data-target="#project-slide" data-slide-to="1")
				li(data-target="#project-slide" data-slide-to="2")
				li(data-target="#project-slide" data-slide-to="3")
				li(data-target="#project-slide" data-slide-to="4")
				li(data-target="#project-slide" data-slide-to="5")
			div.carousel-inner
				div.carousel-item.active
					a(target="_blank" href="/games/sps")
						img.d-block.h-100.mx-auto(src="sps.png" alt="")
						div.carousel-caption.d-none.d-md-block
							h5 Spock Paper Scissors
							p Lightweight Alternative to the Original Game
				div.carousel-item
					a(target="_blank" href="https://codepen.io/mikeshort10/full/vQxEoW/")
						img.d-block.h-100.mx-auto(src="life.png" alt="")
						div.carousel-caption.d-none.d-md-block 
							h5 Conway's Game of Life
							p Watch Life Unfold
				div.carousel-item
					a(target="_blank" href="https://the-poll-pool.herokuapp.com/")
						img.d-block.h-100.mx-auto(src="pool-poll.ico" alt="")
						div.carousel-caption.d-none.d-md-block 
							h5 Pool Poll
							p Polling Site developed with MERN Stack 
				div.carousel-item
					a(target="_blank" href="/games/light-bright")
						img.d-block.h-100.mx-auto(src="light-bright.png" alt="")
						div.carousel-caption.d-none.d-md-block 
							h5 Light Bright
							p For When You're Feeling a Little Nostalgic
				div.carousel-item
					a(target="_blank" href="/games/lindsay-granger")
						img.d-block.h-100.mx-auto(src="lindsay-granger.png" alt="")
						div.carousel-caption.d-none.d-md-block 
							h5 Lindsay Granger
							p Fan Fiction Game for HP Fans
				div.carousel-item
					a(target="_blank" href="https://most-common-words.herokuapp.com/")
						img.d-block.h-100.mx-auto(src="images.png" alt="")
						div.carousel-caption.d-none.d-md-block
							h5 1000 Most Common Words
							p API of English's Top 100
			a.carousel-control-prev(href="#project-slide" role="button" data-slide="prev")
				span.carousel-control-prev-icon.text-success(aria-hidden="true")
				span.sr-only(style="color: black;") Prev
			a.carousel-control-next(href="#project-slide" role="button" data-slide="next")
				span.carousel-control-next-icon(aria-hidden="true") 
				span.sr-only Next
	footer.d-flex.justify-content-center.bg-dark
		div.d-flex.justify-content-around.align-items-center.col-sm-3
						a(href="https://codepen.io/mikeshort10/" target="_blank")
							i.fab.fa-codepen
						a(href="https://github.com/mikeshort10" target="_blank")
							i.fab.fa-github
						a(href="https://www.linkedin.com/in/michael-short-77389190/" target="_blank")
							i.fab.fa-linkedin
						a(href="https://www.freecodecamp.org/mikeshort10" target="_blank")
							i.fab.fa-free-code-camp
						a(href="https://www.facebook.com/mikeshort10" target="_blank")
							i.fab.fa-facebook



script(
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous")
script(src="index.js")
