head
	meta(charset="UTF-8")
	title Mike Short
	link(rel="icon" href="mike-short.png")
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
	link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme|Architects+Daughter|Cinzel|Coiny|Courgette|EB+Garamond|Indie+Flower|Josefin+Sans|Major+Mono+Display|Monoton|ZCOOL+KuaiLe" type="text/css")
	link(rel="stylesheet" href="style.css")

body
	nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.fixed-top
		img.navbar-brand(src="mike-short.png" width="30px")
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		div.collapse.navbar-collapse#navbarNavAltMarkup
			div.navbar-nav
				a(href="#projects").nav-item.nav-link
					i.fas.fa-laptop-code
				li.nav-item.dropdown
					a.nav-link(href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						i.fas.fa-glasses
					div.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
						h6.dropdown-header Front-end Scripting
						a(href="#").dropdown-item Javascript
						a(href="#").dropdown-item React.js
						a(href="#").dropdown-item jQuery
						a(href="#").dropdown-item D3
						a(href="#").dropdown-item Angular.js
						h6.dropdown-header Markup and Styling
						a(href="#").dropdown-item HTML
						a(href="#").dropdown-item CSS
						a(href="#").dropdown-item Markdown
						a(href="#").dropdown-item Pug
						a(href="#").dropdown-item Bootstrap 3 & 4
						h6.dropdown-header Backend Programming
						a(href="#").dropdown-item Node.js
						a(href="#").dropdown-item MongoDB & Mongoose
						a(href="#").dropdown-item SQL
						a(href="#").dropdown-item PHP
						a(href="#").dropdown-item Testing & QA
				li.nav-item.dropdown
					a.nav-link(href="#" id="certs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						i.fas.fa-award
					div.dropdown-menu(aria-labelledby="certs")
						h6.dropdown-header FreeCodeCamp
						a(href="https://www.freecodecamp.org/certification/mikeshort10/full-stack").dropdown-item Full Stack
						a(href="https://www.freecodecamp.org/certification/mikeshort10/responsive-web-design").dropdown-item Responsive Web Design
						a(href="https://www.freecodecamp.org/certification/mikeshort10/javascript-algorithms-and-data-structures").dropdown-item JS Algorithms and Data Structures
						a(href="https://www.freecodecamp.org/certification/mikeshort10/front-end-libraries").dropdown-item Front End Libraries
						a(href="https://www.freecodecamp.org/certification/mikeshort10/data-visualization").dropdown-item Data Visualization
						a(href="https://www.freecodecamp.org/certification/mikeshort10/apis-and-microservices").dropdown-item APIs and Microservices
						a(href="https://www.freecodecamp.org/certification/mikeshort10/information-security-and-quality-assurance").dropdown-item Information Security and QA
						h6.dropdown-header Sololearn
						a(href="https://www.sololearn.com/Certificate/1059-2919594/pdf/").dropdown-item PHP
						a(href="https://www.sololearn.com/Certificate/1060-2919594/pdf/").dropdown-item SQL Fundamentals
				a(href="#aboutme").nav-item.nav-link About Me
				li.nav-item.dropdown
					a.nav-link(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Contact Me
					div.dropdown-menu
						a(href="https://codepen.io/mikeshort10/" target="_blank").dropdown-item
							i.fab.fa-codepen
						a(href="https://github.com/mikeshort10" target="_blank").dropdown-item
							i.fab.fa-github
						a(href="https://www.linkedin.com/in/michael-short-77389190/" target="_blank").dropdown-item
							i.fab.fa-linkedin
						a(href="https://www.freecodecamp.org/mikeshort10" target="_blank").dropdown-item
							i.fab.fa-free-code-camp
						a(href="https://www.facebook.com/mikeshort10" target="_blank").dropdown-item
							i.fab.fa-facebook
	nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
		img.navbar-brand(src="mike-short.png" width="30px")
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		div.collapse.navbar-collapse#navbarNavAltMarkup
			div.navbar-nav
				a(href="#projects").nav-item.nav-link
					i.fas.fa-laptop-code
				li.nav-item.dropdown
					a.nav-link(href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						i.fas.fa-glasses
					div.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
						h6.dropdown-header Front-end Scripting
						a(href="#").dropdown-item Javascript
						a(href="#").dropdown-item React.js
						a(href="#").dropdown-item jQuery
						a(href="#").dropdown-item D3
						a(href="#").dropdown-item Angular.js
						h6.dropdown-header Markup and Styling
						a(href="#").dropdown-item HTML
						a(href="#").dropdown-item CSS
						a(href="#").dropdown-item Markdown
						a(href="#").dropdown-item Pug
						a(href="#").dropdown-item Bootstrap 3 & 4
						h6.dropdown-header Backend Programming
						a(href="#").dropdown-item Node.js
						a(href="#").dropdown-item MongoDB & Mongoose
						a(href="#").dropdown-item SQL
						a(href="#").dropdown-item PHP
						a(href="#").dropdown-item Testing & QA
				li.nav-item.dropdown
					a.nav-link(href="#" id="certs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						i.fas.fa-award
					div.dropdown-menu(aria-labelledby="certs")
						h6.dropdown-header FreeCodeCamp
						a(href="https://www.freecodecamp.org/certification/mikeshort10/full-stack").dropdown-item Full Stack
						a(href="https://www.freecodecamp.org/certification/mikeshort10/responsive-web-design").dropdown-item Responsive Web Design
						a(href="https://www.freecodecamp.org/certification/mikeshort10/javascript-algorithms-and-data-structures").dropdown-item JS Algorithms and Data Structures
						a(href="https://www.freecodecamp.org/certification/mikeshort10/front-end-libraries").dropdown-item Front End Libraries
						a(href="https://www.freecodecamp.org/certification/mikeshort10/data-visualization").dropdown-item Data Visualization
						a(href="https://www.freecodecamp.org/certification/mikeshort10/apis-and-microservices").dropdown-item APIs and Microservices
						a(href="https://www.freecodecamp.org/certification/mikeshort10/information-security-and-quality-assurance").dropdown-item Information Security and QA
						h6.dropdown-header Sololearn
						a(href="https://www.sololearn.com/Certificate/1059-2919594/pdf/").dropdown-item PHP
						a(href="https://www.sololearn.com/Certificate/1060-2919594/pdf/").dropdown-item SQL Fundamentals
				a(href="#aboutme").nav-item.nav-link About Me
				li.nav-item.dropdown
					a.nav-link(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Contact Me
					div.dropdown-menu
						a(href="https://codepen.io/mikeshort10/" target="_blank").dropdown-item
							i.fab.fa-codepen
						a(href="https://github.com/mikeshort10" target="_blank").dropdown-item
							i.fab.fa-github
						a(href="https://www.linkedin.com/in/michael-short-77389190/" target="_blank").dropdown-item
							i.fab.fa-linkedin
						a(href="https://www.freecodecamp.org/mikeshort10" target="_blank").dropdown-item
							i.fab.fa-free-code-camp
						a(href="https://www.facebook.com/mikeshort10" target="_blank").dropdown-item
							i.fab.fa-facebook


	section.bg-dark
		div.container-fluid.bg-dark#intro
			div.col-md-6.text-center.animated-text#animated-text1 Reliability
			div.col-md-6.text-center.animated-text#animated-text2 Innovation
			div.col-md-6.text-center.animated-text#animated-text3 Style

	section.bg-dark.text-light.p-4#projects
		h2.text-center My Projects
		br
		div.carousel.slide#project-slide(data-ride="carousel")
			ol.carousel-indicators
				li.active(data-target="#project-slide" data-slide-to="0")
				li(data-target="#project-slide" data-slide-to="1")
				li(data-target="#project-slide" data-slide-to="2")
				li(data-target="#project-slide" data-slide-to="3")
				li(data-target="#project-slide" data-slide-to="4")
				li(data-target="#project-slide" data-slide-to="5")
			div.carousel-inner
				div.carousel-item.active
					img.d-block.h-100.mx-auto(src="https://s3-us-west-2.amazonaws.com/i.cdpn.io/533529.aQryEg.270f3211-e0a6-4ad0-bac4-7d023de1981c.png" alt="")
				div.carousel-item
					img.d-block.h-100.mx-auto(src="https://s3-us-west-2.amazonaws.com/i.cdpn.io/533529.vQxEoW.small.b8ae5ae6-725a-4385-8abb-44635b6a326d.png" alt="")
				div.carousel-item
					img.d-block.h-100.mx-auto(src="https://s3-us-west-2.amazonaws.com/i.cdpn.io/533529.qKrbqY.small.2202f3ab-e303-4421-b6b5-76dd882e0e7e.png" alt="")
				div.carousel-item
					img.d-block.h-100.mx-auto(src="light-bright.png" alt="")
				div.carousel-item
					img.d-block.h-100.mx-auto(src="lindsay-granger.png" alt="")
				div.carousel-item
					img.d-block.h-100.mx-auto(src="light-bright.png" alt="")
			a.carousel-control-prev(href="#project-slide" role="button" data-slide="prev")
				span.carousel-control-prev-icon.text-success(aria-hidden="true") 
				span.sr-only(style="color: black;") Prev
			a.carousel-control-next(href="#project-slide" role="button" data-slide="next")
				span.carousel-control-next-icon(aria-hidden="true") 
				span.sr-only Next

	//section.container-fluid
		div.row
			div.col-sm-10.col-md-4.container-fluid
				div.card
					div.card-title 
						h2.text-center Spock Paper Scissors
					div.card-body
						a(target="_blank" href="https://spock-paper-scissors.herokuapp.com")
							img.img-fluid(src="https://s3-us-west-2.amazonaws.com/i.cdpn.io/533529.aQryEg.270f3211-e0a6-4ad0-bac4-7d023de1981c.png")
						h6.text-center Lightweight Alternative to the Classic
					div.card-footer.text-center
						span Font Awesome | Pug | jQuery
			div.col-sm-10.col-md-4.container-fluid
				div.card
					div.card-title.text-center
						h2 Conway's Game of Life
					div.card-body
						a(target="_blank" href="https://codepen.io/mikeshort10/full/vQxEoW/")
							img.img-fluid(src="https://s3-us-west-2.amazonaws.com/i.cdpn.io/533529.vQxEoW.small.b8ae5ae6-725a-4385-8abb-44635b6a326d.png")
						h6.text-center Simple Game of Life 
					div.card-footer.text-center
						span React | Sass
			div.col-sm-10.col-md-4.container-fluid
				div.card
					div.card-title.text-center
						h3.text-center Chloropleth Map of US
					div.card-body.container-fluid
						a(target="_blank" href="https://codepen.io/mikeshort10/full/qKrbqY")
							img.img-fluid(src="https://s3-us-west-2.amazonaws.com/i.cdpn.io/533529.qKrbqY.small.2202f3ab-e303-4421-b6b5-76dd882e0e7e.png")
						h6.text-center Data for BS/BA Degree by County 
					div.card-footer.text-center
						span D3 | Sass
		div.row
			div.col-sm-10.col-md-4.container-fluid
				div.card
					div.card-title.text-center
						h3.text-center Light Bright
					div.card-body.container-fluid
						a(target="_blank" href="https://light-bright.glitch.me/")
							img.img-fluid(src="light-bright.png")
						h6.text-center Light Bright Game
					div.card-footer.text-center
						span React | Bootstrap
			div.col-sm-10.col-md-4.container-fluid
				div.card
					div.card-title.text-center
						h3.text-center Lindsay Granger and the Imperius Curse
					div.card-body.container-fluid.text-center
						a(target="_blank" href="https://lindsay-granger.glitch.me/")
							img.img-fluid(src="lindsay-granger.png")
						h6.text-center Dungeon Crawler through Castle
					div.card-footer.text-center
						span React | React-Bootstrap | Font Awesome
			div.col-sm-10.col-md-4.container-fluid
				div.card
					div.card-title.text-center
						h3.text-center Light Bright
					div.card-body.container-fluid
						a(target="_blank" href="https://light-bright.glitch.me/")
							img.img-fluid(src="light-bright.png")
						h6.text-center Light Bright Game
					div.card-footer.text-center
						span React | Bootstrap


	section.d-flex.justify-content-center#aboutme
		div.col-sm-10
			div.card
				div.card-title
					h1.text-center About Me
				div.card-body
					p.about-me.text-center If you had asked me ten years ago what language I'd be writing now, I'd have been more inclined to tell you German or Mandarin rather Javascript or PHP. For almost my entire academic career, I was more interested in human languages than those that communicate with the inorganic. In fact, I would graduate from the University of Michigan in 2014 not with an EECS degree, but with one in German Studies and a minor in Asian Langauges and Cultures. It was this interest that brought me to work with high school exchange students in New York and, later, Phoenix.

					p.about-me.text-center The job was multifaceted: finding host families, planning events, interviewing perspective students, etc. People always asked me how I was able to communicate with students from all over the globe at some many different level of English. What they didn't understand was that communicating with was the easy part; it was communicating to them that was the hard part. What I mean by this is that making sure they understood me was simple when they were in front of me, but when I had to communicate with a group of over 160 students at once on a daily basis, needless to say many missed my meaning.

script(
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous")
script(src="index.js")
