head
	meta(charset="UTF-8")
	title Mike Short
	link(rel="icon" href="https://utphighschools.com/wp-content/uploads/2018/02/mike-short.jpg")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
	link(rel="stylesheet" href="style.css")

body
	header
	div.row
			div.col-xs-3.header-button
				a(href="projects")
					div.well.text-center
						| Projects
						br
						i.fas.fa-project-diagram
			div.col-xs-3.header-button
				a(href="skills")
					div.well.text-center
						| Skills
						br
						i.fas.fa-code
			div.col-xs-3.header-button
				a(target="_blank" href="about-me")
					div.well.text-center
						| About Me
						br
						i.fas.fa-bullseye
			div.col-xs-3.header-button
				a(target="_blank" href="#")
					div.well.text-center
						| Contact Me
						br
						i.fas.fa-envelope

	div.container-fluid
		h1.text-center.text-primary Mike Short
		img.img-circle.text-center(src="https://utphighschools.com/wp-content/uploads/2018/02/mike-short.jpg")

	footer
		p Made with Bootstrap and Pug
		a(target="_blank" href="https://www.facebook.com/mikeshort10")
			i.fab.fa-facebook-square.social
		a(target="_blank" href="https://github.com/mikeshort10")
			i.fab.fa-github-square.social
		a(target="_blank" href="https://codepen.io/mikeshort10/")
			i.fab.fa-codepen.social
		a(target="_blank" href="https://www.linkedin.com/in/michael-short-77389190/")
			i.fab.fa-linkedin.social
		a(target="_blank" href="https://www.freecodecamp.org/mikeshort10")
			i.fab.fa-free-code-camp.social
