nav.navbar.navbar-expand-md.bg-dark.fixed-top
    img.navbar-brand(src="assets/mike-short.png" width="30px")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
        span.fas.fa-bars
    div.collapse.navbar-collapse#navbarNavAltMarkup
        div.navbar-nav
            li.nav-item.dropdown
                a.nav-link(href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    i.fab.fa-react(style="font-weight: bold;")
                    span &nbspSkills
                div.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                    h6.dropdown-header.disabled Front-end Scripting
                    a(href="#").dropdown-item.disabled Javascript
                    a(href="#").dropdown-item.disabled React
                    a(href="#").dropdown-item.disabled Redux
                    a(href="#").dropdown-item.disabled jQuery
                    a(href="#").dropdown-item.disabled D3
                    a(href="#").dropdown-item.disabled Angular.js
                    h6.dropdown-header Markup and Styling
                    a(href="#").dropdown-item.disabled HTML
                    a(href="#").dropdown-item.disabled CSS
                    a(href="#").dropdown-item.disabled Markdown
                    a(href="#").dropdown-item.disabled Pug
                    a(href="#").dropdown-item.disabled Bootstrap 3 & 4
                    h6.dropdown-header Backend Programming
                    a(href="#").dropdown-item.disabled Node.js
                    a(href="#").dropdown-item.disabled MongoDB & Mongoose
                    a(href="#").dropdown-item.disabled SQL
                    a(href="#").dropdown-item.disabled PHP
                    a(href="#").dropdown-item.disabled Testing & QA
            li.nav-item.dropdown
                a.nav-link(href="#" id="certs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    i.fas.fa-award
                    | &nbspQualifications
                div.dropdown-menu(aria-labelledby="certs")
                    h6.dropdown-header FreeCodeCamp
                    a(href="https://www.freecodecamp.org/certification/mikeshort10/full-stack").dropdown-item Full Stack
                    a(href="https://www.freecodecamp.org/certification/mikeshort10/responsive-web-design").dropdown-item Responsive Web Design
                    a(href="https://www.freecodecamp.org/certification/mikeshort10/javascript-algorithms-and-data-structures").dropdown-item JS Algorithms and Data Structures
                    a(href="https://www.freecodecamp.org/certification/mikeshort10/front-end-libraries").dropdown-item Front End Libraries
                    a(href="https://www.freecodecamp.org/certification/mikeshort10/data-visualization").dropdown-item Data Visualization
                    a(href="https://www.freecodecamp.org/certification/mikeshort10/apis-and-microservices").dropdown-item APIs and Microservices
                    a(href="https://www.freecodecamp.org/certification/mikeshort10/information-security-and-quality-assurance").dropdown-item Information Security and QA
                    h6.dropdown-header Sololearn
                    a(href="https://www.sololearn.com/Certificate/1059-2919594/pdf/").dropdown-item PHP
                    a(href="https://www.sololearn.com/Certificate/1060-2919594/pdf/").dropdown-item SQL Fundamentals
            a(href="#aboutme").nav-item.nav-link 
                i.far.fa-user-circle
                | &nbspAbout
            a(href="#projects").nav-item.nav-link 
                i.fas.fa-laptop-code
                | &nbspProjects
            li.nav-item.dropdown
                a.nav-link(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    i.far.fa-envelope 
                    | &nbspContact
                div.dropdown-menu
                    a(href="https://codepen.io/mikeshort10/" target="_blank").dropdown-item
                        i.fab.fa-codepen
                    a(href="https://github.com/mikeshort10" target="_blank").dropdown-item
                        i.fab.fa-github
                    a(href="https://www.linkedin.com/in/michael-short-77389190/" target="_blank").dropdown-item
                        i.fab.fa-linkedin
                    a(href="https://www.freecodecamp.org/mikeshort10" target="_blank").dropdown-item
                        i.fab.fa-free-code-camp
                    a(href="https://www.facebook.com/mikeshort10" target="_blank").dropdown-item
                        i.fab.fa-facebook