head

  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
  link(rel="stylesheet" href="style.css")

body
  h1.text-center Recent Projects
    div.row.project
      div.col-xs-4.container-fluid.well.text-center
        a(target="_blank" href="https://spock-paper-scissors.herokuapp.com")
          img.img-responsive(src="https://s3-us-west-2.amazonaws.com/i.cdpn.io/533529.aQryEg.270f3211-e0a6-4ad0-bac4-7d023de1981c.png")
        h3 Spock Paper Scissors
        h4 Lightweight, Clean Alternative to Rock-Paper-Scissors
        h3.text-left Utilizes:
        div.utilizes
          ul
            li Font Awesome
            li Pug
            li jQuery
      div.col-xs-4.container-fluid.well.text-center
        a(target="_blank" href="https://codepen.io/mikeshort10/full/vQxEoW/")
          img.img-responsive(src="https://s3-us-west-2.amazonaws.com/i.cdpn.io/533529.vQxEoW.small.b8ae5ae6-725a-4385-8abb-44635b6a326d.png")
        h3 Conway's Game of Life
        h4 Simple Game of Life 
        h3.text-left Utilizes:
        div.utilizes
          ul
            li React
            li Sass
    div.row.project
      div.col-xs-4.container-fluid.well.text-center
        a(target="_blank" href="https://codepen.io/mikeshort10/full/qKrbqY")
          img.img-responsive(src="https://s3-us-west-2.amazonaws.com/i.cdpn.io/533529.qKrbqY.small.2202f3ab-e303-4421-b6b5-76dd882e0e7e.png")
        h3 Chloropleth Map of US Bachelor's Degrees
        h4 Map of US Shaded According to and Displaying Data from BS/BA Degree's by County 
        h3.text-left Utilizes:
        div.utilizes
          ul
            li D3
            li Sass
