head
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")

  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
  link(rel="stylesheet" href="style.css")
body
    p.h1.text-primary.text-center Languages and Libraries
    div.row.d-flex.flex-row.p-2.justify-content-around
      div.col-3
        div.card
          div.card-header
            h3.text-center Markup and Styling
          div.card-body
            ul.list-group
              li.list-group-item#html
                i.fab.fa-html5
                | &nbsp HTML
              li.list-group-item#css
                i.fab.fa-css3-alt
                | &nbsp CSS
              li.list-group-item
                | &nbsp Markdown
              li.list-group-item#pug
                | &nbsp Pug
              li.list-group-item#bootstrap
                | &nbsp Bootstrap
              li.list-group-item#sass
                i.fab.fa-sass
                | &nbsp Sass
      div.col-3
        div.card
          div.card-header
            h3.text-center Front End Programming
          div.card-body
            ul.list-group
              li.list-group-item#js
                i.fab.fa-js-square
                | &nbsp Javascript
              li.list-group-item#react
                i.fab.fa-react
                | &nbsp React
              li.list-group-item#redux
                i.fab.fa-redux
                | &nbsp Redux
              li.list-group-item#jq
                i.fab.fa-jquery
                | &nbsp jQuery
              li.list-group-item#d3
                | &nbsp D3
              li.list-group-item#angular
                i.fab.fa-angular
                | &nbsp Angular.js
      div.col-3
        div.card
          div.card-header
            h3.text-center Back End Programming
          div.card-body
            ul.list-group
              li.list-group-item#node
                i.fab.fa-node-js
                | &nbsp Node.js
              li.list-group-item#db
                i.fas.fa-database
                | &nbsp MongoDB 
              li.list-group-item
                | &nbsp Mongoose
              li.list-group-item#chai
                | &nbsp Chai & Mocha
              li.list-group-item#helmet
                | &nbsp Helmet.js


script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
