* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

h1 {
  color: red; }

.parallex {
  margin: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center bottom;
  background-image: url("../aboutme.jpg"); }

.navbar {
  height: 80px; }
  .navbar img {
    height: 100%;
    margin: 0; }

@media only screen and (max-device-width: 1366px) {
  .parallex {
    background-attachment: scroll; } }
