html {
	scroll-behavior: smooth;
}

body {
	font-family: "Cinzel", serif;
	color: hsl(120, 100%, 25%);
	max-width: 100%;
	overflow-x: hidden;
}

footer {
	height: 50px;
	border-top: solid hsl(120, 100%, 25%) 3px;
}

footer a {
	color: hsl(120, 100%, 25%);
}

i {
	font-size: 18px;
}

.animated-text {
	z-index: 1;
	position: relative;
	color: hsl(120, 100%, 25%);
	opacity: 0;
	font-size: 6vw;
	background-color: #333;
	-webkit-box-shadow: 2px 2px green 10px;
	        box-shadow: 2px 2px green 10px;
	height: 10vw;
	max-height: 65px;
	width: 50%;
	border-radius: 10px;
}

@media (min-width: 812px) {
	.animated-text {
		font-size: 48px;
	}
}

.card-body {
	color: white;
	text-shadow: 1px 1px black;
}

.carousel-caption {
	color: #ddd;
	font-weight: bolder;
	text-shadow: 1px 1px black;
}

.carousel-inner {
	height: 33vw;
}

.carousel-item img {
	opacity: 0.5;
}

.dropdown-header {
	color: red;
}

.navbar button {
	border: hsl(120, 100%, 25%) solid 1px;
}

.navbar-nav a {
	color: hsl(120, 100%, 25%);
}

.fa-bars {
	color: hsl(120, 100%, 25%);
	font-size: 24px;
}

#animated-text1 {
	top: 20%;
	left: -130%;
}

#animated-text2 {
	top: 30%;
	left: -120%;
}

#animated-text3 {
	top: 40%;
	left: -125%;
}

#intro {
	position: static;
	background-image: url("dbg.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: darken;
	height: 100vw;
	max-height: 650px;
}

#aboutme {
	background-color: hsl(120, 100%, 25%);
	font-size: 13px;
}

#projects {
	color: hsl(120, 100%, 25%);
}

#header {
	background-color: hsl(120, 100%, 25%);
}
