.modal-hide {
	display: none;
}

.static-modal {
	color: black;
}

// @-webkit-keyframes lighting {
// 	0% {
// 		background: linear-gradient(45deg, #861313, #ec7979);
// 	}
// 	10% {
// 		background: linear-gradient(45deg, #861313, #ec7979 90%);
// 	}
// 	20% {
// 		background: linear-gradient(45deg, #861313, #ec7979);
// 	}
// 	30% {
// 		background: linear-gradient(45deg, #861313, #ec7979 90%);
// 	}
// 	40% {
// 		background: linear-gradient(45deg, #861313, #ec7979);
// 	}
// 	50% {
// 		background: linear-gradient(45deg, #861313, #ec7979 90%);
// 	}
// 	55% {
// 		background: linear-gradient(45deg, #861313, #ec7979);
// 	}
// 	65% {
// 		background: linear-gradient(45deg, #861313, #ec7979 90%);
// 	}
// 	70% {
// 		background: linear-gradient(45deg, #861313, #ec7979);
// 	}
// 	75% {
// 		background: linear-gradient(45deg, #861313, #ec7979 90%);
// 	}
// 	80% {
// 		background: linear-gradient(45deg, #861313, #ec7979);
// 	}
// 	90% {
// 		background: linear-gradient(45deg, #861313, #ec7979 90%);
// 	}
// 	100% {
// 		background: linear-gradient(45deg, #861313, #ec7979);
// 	}
// }

// @keyframes lighting {
// 	0% {
// 		background: linear-gradient(45deg, #861313, #ec7979);
// 	}
// 	10% {
// 		background: linear-gradient(45deg, #861313, #ec7979 90%);
// 	}
// 	20% {
// 		background: linear-gradient(45deg, #861313, #ec7979);
// 	}
// 	30% {
// 		background: linear-gradient(45deg, #861313, #ec7979 90%);
// 	}
// 	40% {
// 		background: linear-gradient(45deg, #861313, #ec7979);
// 	}
// 	50% {
// 		background: linear-gradient(45deg, #861313, #ec7979 90%);
// 	}
// 	55% {
// 		background: linear-gradient(45deg, #861313, #ec7979);
// 	}
// 	65% {
// 		background: linear-gradient(45deg, #861313, #ec7979 90%);
// 	}
// 	70% {
// 		background: linear-gradient(45deg, #861313, #ec7979);
// 	}
// 	75% {
// 		background: linear-gradient(45deg, #861313, #ec7979 90%);
// 	}
// 	80% {
// 		background: linear-gradient(45deg, #861313, #ec7979);
// 	}
// 	90% {
// 		background: linear-gradient(45deg, #861313, #ec7979 90%);
// 	}
// 	100% {
// 		background: linear-gradient(45deg, #861313, #ec7979);
// 	}
// }

.purple {
	background: purple;
}

body.lindsay-granger {
	font-family: "Cochin", "EB Garamond", "transitional", "serif";
	font-size: 3vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: black;
	color: white;
}

.space,
.purple,
.wall,
.darkness {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 10px;
	width: 10px;
	font-size: 8px;
}

.panel-body {
	background: black;
}

.wall {
	background: linear-gradient(45deg, #861313, #ec7979);
	// -webkit-animation: lighting 1s infinite;
	// animation: lighting 1s infinite;
	// border-radius: 20%;
}

.darkness {
	background: black;
}

.darkness i,
.black-font {
	color: black;
}

.player {
	color: red;
}

.hufflepuff {
	color: yellow;
}

.ravenclaw {
	color: blue;
}

.boss,
.wand {
	color: white;
}

.potion,
.slytherin {
	color: green;
}

.book {
	color: purple;
}

.door {
	color: yellow;
}

#granger-board,
#granger-board-cloaked {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 540px;
	margin: auto;
	background: #d98c8c;
}

#granger-board-cloaked {
	background: #9999ff;
}

.start-button {
	font-size: 5vw;
}

.header {
	position: fixed;
	top: 0;
	font-size: 5vw;
	width: 100vw;
}

.start-panel {
	width: 100vw;
}

.header-placeholder {
	font-size: 5vw;
}

.message {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.center-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#stats {
	height: 100px;
	display: block;
	font-size: 2vh;
}

#stats-panel {
	width: 270px;
	border: solid black 0;
}

.row {
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.hide-icon {
	visibility: hidden;
}

.center-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.border-none {
	border: black solid 1px;
}
